<% if notice != nil %>
<p id="notice" class="alert alert-success" role="alert">
  <%= notice %>
</p>
<% end %>
<ul class="nav nav-pills" role="tablist">
    <li><%= link_to "All", pets_path %></li>
    <% @my_name.each do |c| %>
    <li><%= link_to "#{c.name}", pets_path(name:c.name) %></li>
    <% end %> 
</ul>
<h1>Our Adorable (and Adoptable!) Pets!</h1>

  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2><%= pet.name %></h2>
            <h3><%= pet.breed %></h3>
            <p><%= pet.age %></p>
           

            <div class="btn-group">
              <%= link_to 'Show', pet, class: "btn btn-default" %>
              <%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-default" %>
              <%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<%= link_to 'New Pet', new_pet_path %>
